<div class="well" ng-controller="FilterHomeController as filterHomeCtrl">
  <h5>{{filterHomeCtrl.title}}</h5>

  <ol class="list-style">
    <li ng-repeat="(key, value) in filterHomeCtrl.candidatesList track by $index">
      {{value.firstName}} : {{value.Sex}}
    </li>
  </ol>

  <div class="form-group">
    <button class="btn btn-primary" ng-click="filterHomeCtrl.filterCandidateByGender('Male')">Male Candidate</button>
    <button class="btn btn-danger" ng-click="filterHomeCtrl.filterCandidateByGender('Female')">Female Candidate</button>
    <button class="btn btn-info" ng-click="filterHomeCtrl.filterCandidateReset()">Reset</button>
  </div>
</div>